.error-content{
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  background-image: url('../../images/error.png');
  background-repeat: no-repeat;
  background-size:cover;
}
.error-btn a:hover button{
    background-color: goldenrod;
}